<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Bai02M3_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>trang-chu.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tenCongTy</param-name>
    <param-value>Trung tam tin hoc</param-value>
  </context-param>
  <context-param>
    <param-name>diaChi</param-name>
    <param-value>137E Nguyen Chi Thanh</param-value>
  </context-param>
</web-app>